:root {
  --color-primary: #0c3149;
  --color-scale-black: #04040b;
  --color-scale-white: #f9fbfa;
  --color-scale-light-grey: #c9d1d9;
  --color-scale-grey: #8b949e;
  --color-scale-dark-grey: var(--color-primary);
  --color-text-link: #58a6ff;
  --color-text-danger: #2e0806;
  --color-text-success: #56d364;
  --color-text-warning: #e3b341;
  --color-bg-primary: var(--color-scale-black);
  --color-fg-primary: var(--color-scale-light-grey);
  --color-box-shadow: rgba(103, 178, 243, 0.783);
  --border-radius: 5px;
  --anim: 0.4s;
  --delay: 0.8s;
}

::selection {
  color: white;
  background: var(--color-primary);
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}

html,
body,
input,
textarea {
  font-family: -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition-property: color, background, background-color;
  transition-duration: 0.2s;
}

body {
  padding-bottom: 94vh;
  color: var(--color-fg-primary);
  background: var(--color-bg-primary);
}

button {
  background: var(--color-scale-dark-grey);
  color: var(--color-scale-white);
  border: 0;
  padding: 0.5em 1.2em;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: box-shadow 0.2s;

  &:hover,
  &:focus {
    box-shadow: inset rgba(255, 255, 255, 0.05) -10000px -10000px;
  }
  &:active {
    box-shadow: inset rgba(0, 0, 0, 0.3) -10000px -10000px;
  }

  [disabled] & {
    cursor: default;
    box-shadow: inset rgba(0, 0, 0, 0.1) -10000px -10000px;
    color: var(--color-scale-light-grey);
  }

  &.danger-button {
    background: var(--color-text-danger);
  }
}

input[type="text"],
textarea {
  transition: box-shadow var(--anim);
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  box-shadow: var(--color-box-shadow) 2px 2px 2px;
}

.user-options.is-saved,
.thing-component {
  input[type="text"],
  textarea {
    background: transparent;
    border: 1px solid transparent;
    outline: 0;
    box-shadow: none;
    color: var(--color-fg-primary);

    &:not(:disabled) {
      &:hover,
      &:focus {
        border-color: rgba(255, 255, 255, 0.2);
      }
      &:focus {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    &::selection {
      color: rgba(255, 255, 255, 0.7);
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

input {
  padding: 1em 1.2em;
}
textarea {
  padding: 0.6em 0.8em;
}

input[type="checkbox"] {
  width: 2.4em;
  height: 2.4em;
  padding: 0;
  margin: 0;
  margin-right: 0.4em;
  cursor: pointer;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

h2 {
  padding-top: 1.6em;
  margin: 0;
  margin-bottom: 0.6em;
  font-size: 1.2em;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 1.6em;
}
